
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
} 
body{
    background-color: #6c54ac;
}
span{
      color:#47b7e7;
}
h1{
    margin-top: 30px;
    color:#fff;
    font-family:cursive;
}
nav{
    display: flex;
    height: 80px;
    width: 100%;
    background: #1b1b1b;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
    position: sticky;
    top:0;
}
h2{
  border:3px solid red;
}
img{
    margin-top: 50px;
  
}

nav .logo{
    color: rgb(126, 61, 212);
    font-size: 35px;
    font-weight: 600;
    
}
  
nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
nav ul li{
    margin: 0 5px;
}
nav ul li a{
    color: #ccc0c0;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}
  nav ul li a.active,
  nav ul li a:hover{
    color: rgb(8, 8, 8);
    background: rgb(196, 184, 184);
}
nav .menu-btn i{
    color: #fff;
    font-size: 22px;
    cursor: pointer;
  display: none;
}
.content{
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: -1;
    width: 100%;
    padding: 0 30px;
    color: #8a2b2b;
    
    
}

.content div{
    font-size: 40px;
    font-weight: 700;
    
  }
  .content h2{
    color: #050607;
    margin:30px;
  }
  input[type="checkbox"]{
    display: none;
  }
 
.footer-bottom{
      
      width: 100%;
      padding: 20px 0;
      text-align: center;
      background-color: rgba(172, 154, 154, 0.6);
  }
  .footer-bottom p{
      font-size: 14px;
      word-spacing: 2px;
      text-transform: capitalize;
  }
  .footer-content{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
  }
  
  footer{
      display:grid;
      height:100%;
      width:100%;
      place-items: center;
      background: linear-gradient(315deg,#ffffff,#d7e1ec);
      margin-top: 700px;
      }
      .wrapper{
          display: inline-flex;
      }
      .wrapper .icon{
          margin: 0 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          flex-direction: column;
          position: relative;
          z-index: 2;
          transition: all 0.4s cubic-bezier(0.68,-0.55,0.265,1.55);
      }
      .wrapper .icon span{
          height: 60px;
          width: 60px;
          position: relative;
          display: block;
          z-index: 2;
          background: #fff;
          box-shadow: 0 10px 10px rgba(0,0,0,0.1);
          text-align: center;
          border-radius: 50%;
      }
      .wrapper .icon span i{
          font-size: 25px;
          line-height: 60px;
      }
      
      .wrapper .icon .tooltip{
          position: absolute;
          top: 0px;
          color: #fff;
          background: #fff;
          font-size: 20px;
          padding: 10px 18px;
          border-radius: 25px;
          box-shadow: 0 10px 10px rgba(0,0,0,0.1);
          opacity: 0;
          pointer-events: none;
          transition: all 0.4s cubic-bezier(0.68,-0.55,0.265,1.55);
      }
      .wrapper .icon:hover .tooltip{
          opacity: 1;
          pointer-events: auto;
          top: -70px;
      }
      .wrapper .icon:hover span{
          color:#fff;
      }
      .wrapper .icon .tooltip:before{
          position: absolute;
          content: "";
          height: 15px;
          width: 15px;
          background: #fff;
          bottom: -8px;
          left: 50%;
          transition: all 0.4s cubic-bezier(0.68,-0.55,0.265,1.55);
          transform: translateX(-50%) rotate(45deg);
      }
      .wrapper .icon:hover span,
      .wrapper .icon:hover .tooltip{
          text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
      }
      .wrapper .facebook:hover span,
      .wrapper .facebook:hover .tooltip,
      .wrapper .facebook:hover .tooltip:before{
          background: #3B5999;
      }
      .wrapper .twitter:hover span,
      .wrapper .twitter:hover .tooltip,
      .wrapper .twitter:hover .tooltip:before{
          background: #46C1F6;
      }
      .wrapper .instagram:hover span,
      .wrapper .instagram:hover .tooltip,
      .wrapper .instagram:hover .tooltip:before{
          background: #e1306c;
      }
      .wrapper .telegram:hover span,
      .wrapper .telegram:hover .tooltip,
      .wrapper .telegram:hover .tooltip:before{
          background: #42a3cc;
      }

      .wrapper .github:hover span,
      .wrapper .github:hover .tooltip,
      .wrapper .github:hover .tooltip:before{
          background: #333;
      }
      .wrapper .messanger:hover span,
      .wrapper .messanger:hover .tooltip,
      .wrapper .messanger:hover .tooltip:before{
          background: rgb(17, 17, 136);
      }

      @media(max-width:1280px){

        #footer{
          margin-top: 800px;
    
        }
    
      
      } 
      @media(max-width:414px){

        #footer{
          margin-top: 50px;
    
        }
     
      
      } 
      @media(max-width:600px){
        .content{
          top:70%;
    
        }
        #footer{
          margin-top: 1250px;
    
        }
      }
      @media (max-width: 920px) {
        nav .menu-btn i{
          display: block;
        }
        #footer span{
          display:contents;
          
        }
        #footer{
          margin-top: 1050px;
        }
        h3{
          font-size: medium;
        }
        #click:checked ~ .menu-btn i:before{
          content: "\f00d";
        }
        .content h2{
            margin:20px;
        }
      
      
        .footer-bottom{
          display:none;
        }
        nav ul{
          position: fixed;
          top: 80px;
          left: -100%;
          background: #111;
          height: 100vh;
          width: 100%;
          text-align: center;
          display: block;
          transition: all 0.3s ease;
        }
        #click:checked ~ ul{
          left: 0;
        }
        nav ul li{
          width: 100%;
          margin: 40px 0;
        }
        nav ul li a{
          width: 100%;
          margin-left: -100%;
          display: block;
          font-size: 20px;
          transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        }
        #click:checked ~ ul li a{
          margin-left: 0px;
        }
        nav ul li a.active,
        nav ul li a:hover{
          background: none;
          color: cyan;
        }
      }
      